  <!-- Fixed navbar -->
  <div class="navbar main-menu navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="" title="Shreyans Patel"><img src="/images/logo.jpg" alt="logo" title="Shreyans Patel" /></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right" id="menu">
          <li><a data-scroll data-options="easing: easeOutQuart" href="#banner">Home</a></li>
          <li><a data-scroll data-options="easing: easeOutQuart" href="#mywork">My Work</a></li>
          <li><a data-scroll data-options="easing: easeOutQuart" href="#about">About</a></li>
          <li><a data-scroll data-options="easing: easeOutQuart" href="#skills">Skills</a></li>
          <li><a data-scroll data-options="easing: easeOutQuart" href="#contact">Contact</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>