<section id="banner" class="section bgParallax">
  <div class="container">
    <div class="intro">
      <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="1.0s">I am <span>Shreyans</span>Patel</h2>
      <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="1.2s">A Full Stack Developer</p>
    </div>
    <!-- <div class="clearfix"></div> -->
  </div>
  <!-- Carousel -->
</section>
<section id="mywork" class="section">
  <div class="container wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
    <header>
      <h2 class="heading">Some of my Work</h2>
      <br>
    </header>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-content">
            <p class="roomCard"><h2>TheHive</h2></p>
            <p class="text-center">Public Chat App</p>
          </div>
          <div class="card-action">
            <a class="btn sharp btn-block" data-target="#theHive" data-toggle="modal" data-target="#theHive" data-toggle="modal">More Info</a>
          </div>
        </div>
      </div>
      <div class="modal fade" id="theHive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">The Hive</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <h3>Description</h3>
                </div>
                <div class="col-md-12">
                  <h3>Links</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-content">
            <p class="roomCard"><h2>RuRated</h2></p>
            <p class="text-center">Rating App for Students</p>
          </div>
          <div class="card-action">
            <a class="btn sharp btn-block" data-target="#ruRated" data-toggle="modal">More Info</a>
          </div>
        </div>
      </div>
      <div class="modal fade" id="ruRated" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">RuRated</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <h3>Description</h3>
                </div>
                <div class="col-md-12">
                  <h3>Links</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-content">
            <p class="roomCard"><h2>NeedToGo!</h2></p>
            <p class="text-center">Bathroom Locator</p>
          </div>
          <div class="card-action">
            <a class="btn sharp btn-block" data-target="#splshd" data-toggle="modal">More Info</a>
          </div>
        </div>
      </div>
      <div class="modal fade" id="splshd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Splshd</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <h3>Description</h3>
                </div>
                <div class="col-md-12">
                  <h3>Links</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-content">
            <p class="roomCard"><H2>Click Game</H2></p>
            <p class="text-center">JS Game</p>
          </div>
          <div class="card-action">
            <a class="btn sharp btn-block" data-target="#clickGame" data-toggle="modal">More Info</a>
          </div>
        </div>
      </div>
      <div class="modal fade" id="clickGame" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Click Game</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <h3>Description</h3>
                </div>
                <div class="col-md-12">
                  <h3>Links</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-content">
            <p class="roomCard"><h2>RPSLS</h2></p>
            <p class="text-center">Jquery Game</p>
          </div>
          <div class="card-action">
            <a class="btn sharp btn-block" data-target="#rpsls" data-toggle="modal">More Info</a>
          </div>
        </div>
      </div>
      <div class="modal fade" id="rpsls" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">RPSLS</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <h3>Description</h3>
                </div>
                <div class="col-md-12">
                  <h3>Links</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-content">
            <p class="roomCard"><h2>DemoGraphIt</h2></p>
            <p class="text-center">Visualize Demographic Data</p>
          </div>
          <div class="card-action">
            <a class="btn sharp btn-block" data-target="#visualizer" data-toggle="modal">More Info</a>
          </div>
        </div>
      </div>
      <div class="modal fade" id="visualizer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">DemoGraphIt</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <h3>Description</h3>
                </div>
                <div class="col-md-12">
                  <h3>Links</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="sectionIcon wow bounceIn" data-wow-duration="0.8s" data-wow-delay="1s"><i class="fa fa-angle-down"></i></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
        <h2 class="heading">About me</h2>
        <div class="col-md-6">
          <p class="text-left">
            I am a versatile web developer, with good knowledge of front-end and back-end techniques. I enjoy structure and order and try to strive for quality code in all of my projects. I enjoy working in teams, because I believe you learn more in this manner. This being said, I am not against working alone on smaller projects.
          </p>
        </div>
        <div class="col-md-6">
          <p class="text-left">
            I am a versatile web developer, with good knowledge of front-end and back-end techniques. I enjoy structure and order and try to strive for quality code in all of my projects. I enjoy working in teams, because I believe you learn more in this manner. This being said, I am not against working alone on smaller projects.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="skills">
  <div class="container wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
    <h2 class="heading">Skills</h2>
    <div class="row">
      <div class="col-md-2 col-md-offset-1 skillContainerB">
        <img class="img-responsive" src="/images/icons/HTML5.png">
      </div>
      <div class="col-md-2 skillContainerR">
        <img class="img-responsive" src="/images/icons/materialize.png">
      </div>
      <div class="col-md-2 skillContainerB">
        <img class="img-responsive" src="/images/icons/Bootstrap.png">
      </div>
      <div class="col-md-2 skillContainerB">
        <img class="img-responsive" src="/images/icons/angularjs.png">
      </div>
      <div class="col-md-2 skillContainerB">
        <img class="img-responsive" src="/images/icons/css3.png">
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-1 skillContainerB">
        <img class="img-responsive" src="/images/icons/mysql.png">
      </div>
      <div class="col-md-2 skillContainerB">
        <img class="img-responsive" src="/images/icons/mongodb.png">
      </div>
      <div class="col-md-2 skillContainerB">
        <img class="img-responsive" src="/images/icons/jQurery.gif">
      </div>
      <div class="col-md-2 skillContainerB">
        <img class="img-responsive" src="/images/icons/github.png">
      </div>
      <div class="col-md-2 skillContainerB">
        <img class="img-responsive" src="/images/icons/js.png">
      </div>
    </div>
  </div>
</section>
<section id="contact">
  <div class="container">
    <div class="row">
      <h2 class="heading wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">Contact</h2>
      <div class="col-md-12">
        <form role="form" id="contact-form" class="contact-form">
          <div class="row">
            <div class="col-md-6 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
              <div class="form-group">
                <input type="text" class="form-control" name="Name" autocomplete="off" id="Name" placeholder="Name" ng-model="name">
              </div>
            </div>
            <div class="col-md-6 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
              <div class="form-group">
                <input type="email" class="form-control" name="email" autocomplete="off" id="email" placeholder="E-mail" ng-model="email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
              <div class="form-group">
                <textarea class="form-control textarea" rows="3" name="Message" id="Message" placeholder="Message" ng-model="message"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn main-btn pull-right wow bounceIn" data-wow-duration="1s" data-wow-delay="1s" ng-click="submit()">Send a message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section id="info">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">Location</h4>
        <address class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
          <strong>20 Deborah Drive</strong><br>
          Edison, NJ 08820<br>
        </address>
        <address class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
          <abbr title="Phone">P:</abbr> (732) 710-1562
          <a href="mailto:#">shreyans89@gmail.com</a>
        </address>
      </div>
      <div class="col-md-4">
        <h4 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">Social Circle</h4>
        <div class="clearfix"></div>
        <ul class="list-inline social">
          <li class="wow bounceIn" data-wow-duration="1.0s" data-wow-delay="0.8s"><a href="https://www.facebook.com/shreyans.patel.7" class="fb"><i class="fa fa-facebook-square fa-2x"></i></a></li>                        
          <li class="wow bounceIn" data-wow-duration="1.0s" data-wow-delay="0.8s"><a href="https://github.com/Shreyp" class="fb"><i class="fa fa-github-square fa-2x"></i></a></li>
          <li class="wow bounceIn" data-wow-duration="1.0s" data-wow-delay="1.0s"><a href="https://twitter.com/samlam89" class="twt"><i class="fa fa-twitter-square fa-2x"></i></a></li>
          <li class="wow bounceIn" data-wow-duration="1.0s" data-wow-delay="1.2s"><a href="https://plus.google.com/u/0/108924129270029866296" class="dr"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
          <li class="wow bounceIn" data-wow-duration="1.0s" data-wow-delay="1.4s"><a href="https://www.linkedin.com/in/shreyansap" class="be"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">About Shreyans Patel</h4>
        <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">I'm Shreyans Patel, a New Jersey based full stack developer and designer. I passionately move pixels and lines of code to craft clean, responsive, and user-friendly websites.</p>
      </div>
    </div>
  </div>
</section>
<a href="#" class="back-to-top"><i class="fa fa-chevron-up fa-3x"></i></a>

<!-- hover captions -->
<script src="/js/custom/jquery.hcaptions.js"></script>

<!-- hover detail page -->
<script src="/js/custom/nivo-lightbox.min.js"></script>

<!-- animation scrolling -->
<script src="/js/custom/app.min.js"></script>

<!-- my script -->
<script src="/js/custom/home.js"></script>