.skillContainerR {
  padding-bottom: 20px;
  padding-top: 20px;
}

.skillContainerB {
  padding-bottom: 20px;
  padding-top: 20px;
}

body.modal-open{
  padding-right:0 !important;
}

.navbar-brand {
  padding: 0px;
}
